.custom-img-size {
    width: 60%;
    height: 60%;
    margin-top: 3rem;
    object-fit: cover;
    border-radius: 10px;
}

.home-img {
    justify-content: center;
    padding: 0%;
}

.home-info {
    align-items: center;
    height: 100%;
    margin: 0 2rem 0 2rem;
    /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
}
